<% provide(:title, "新規投稿")%>
<div class="row white-container">
  <div class="col align-self-center">
    <h2 class="title black-text-title">新規投稿</h2>
    <%= form_for(@ramen, url: ramens_path) do |f| %>
    <%= render 'ramen_error_messages'%>
    <%= render 'ramen_column', f: f %>
    <% end %>
  </div>
</div>