<% provide(:title, "検索") %>
<div class="row white-container">
  <div class="col offset-3 col-6">
    <h2 class="title black-text-title">ラーメン検索</h2>
    <div class="search-box">

    </div>
    <%= render 'ramen_post', ramen: @ramens %>
  </div>
</div>