<% provide(:title, "投稿の詳細") %>
<div class="row white-container">
  <div class="col align-self-center">
    <h2 class="title black-text-title">投稿の詳細</h2>
    <%= render 'ramen_post', ramen: @ramen %>
  </div>
</div>