<div class="row user_info">
  <div class="col-3">
    <div class="row">
      <div class="col-3">
        <% if user.image.attached? %>
        <%= image_tag user.image.variant(resize_to_fill: [80, 80]), class: "user_image" %>
        <% else %>
        <img class="user_image" , src="https://lh3.googleusercontent.com/proxy/88H9DcoPP-9PSs6r_F_bPmQEGg5lJCgxnpKrf5yPXxfBSW6bP251YHpHnLztqNutNXDkhKUD0g4rekjuEjKNoBaQ4JZFtEodDkPLepubFGyn-kHpTg" , alt="profile_image">
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-9">
    <h4 class="user_name"><%= user.name %></h4>
    <p class="user_profile"><%= user.profile %></p>
    <div class="row">
      <div class="col col-2">
        <%= link_to "詳細", user_path(user), class: "btn btn-danger btn-sm user_btn" %>
      </div>
    </div>
  </div>
</div>