<div class="container-fluid">
  <div class="row justify-content-start post-side-margin">
    <%= render partial: 'pages/ramens', collection: @ramens, as: :ramen %>
  </div>
  <%= paginate @ramens%>
</div>