<h1>ようこそ</h1>
<p>トップページです。</p>
<div class="container text-white">
    <div class="row">
        <div class="col-4 border bg-success">
            ①
        </div>
        <div class="col-4 border bg-success">
            ②
        </div>
        <div class="col-4 border bg-success">
            ③
        </div>
    </div>
</div>
<div class="container text-white">
    <div class="row">
        <div class="col-12 col-sm-6 col-md-4 border bg-primary">
            ①
        </div>
        <div class="col-12 col-sm-6 col-md-4 border bg-primary">
            ②
        </div>
        <div class="col-12 col-sm-6 col-md-4 border bg-primary">
            ③
        </div>
        <div class="col-12 col-sm-6 col-md-4 border bg-primary">
            ④
        </div>
    </div>
</div>
