<% if user_signed_in? %>
<div class="row white-container">
  <div class="col offset-3 col-6">
    <h2 class="title black-text-title">最近の投稿</h2>
  </div>
  <%= render partial: 'ramens_post' %>
</div>
<% else %>
<div class="jumbotron text-center">
  <div class="col align-self-center">
    <h1 class="mendou-font">拉麺を愛するあなたへ<br>至極の一杯を追究しよう</h1>
    <%= link_to "はじめる", new_user_session_path, class: "btn btn-flat-border" %>
  </div>
</div>
<div class="text-center red-container">
  <h2 class="title">ABOUT</h2>
  <p class="title-msg">
    拉麺のためになら、<br>どんなに遠くとも足を運び<br>新たなる境地へも果敢に挑戦する者達へ
  </p>
</div>
<% end %>