/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

//header//
html {
  font-size: 62.5%;
}
body {
  font-family: "Hiragino Mincho ProN", "ヒラギノ明朝 ProN",
    "Hiragino Mincho Pro", "ヒラギノ明朝 Pro", sans-serif;
  color: #252525;
  font-weight: 400;
  padding-top: 35px;
}

.navbar-brand {
  background-image: image-url("images/logo-2.jpg");
  background-size: contain;
  height: 38px;
  width: 72px;
}

.navbar-nav {
  font-size: 1.5rem;
  letter-spacing: 0.5rem;
}

.navbar-nav {
  margin: 0;
}

.nav-btn {
  margin: 4px;
}

//フラッシュ//

.flash {
  margin-top: 7px;
  height: 40px;
}
.notice {
  background-color: rgb(113, 207, 113);
  color: black;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.5rem;
}

.alert {
  background-color: #f26f6f;
  color: white;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.5rem;
}

//top-image//

.wrapper {
  min-height: 100vh;
  position: relative;
  padding-bottom: 55px;
  box-sizing: border-box;
  width: 100%;
}

.jumbotron {
  background: image-url("images/top.jpg") center no-repeat;
  background-size: cover;
  height: 600px;
  border-radius: 0rem;
  margin-bottom: 0px;
}

@import url("https://fonts.googleapis.com/css2?family=Shippori+Mincho&display=swap");
.mendou-font {
  font-family: "Shippori Mincho", serif;
  font-size: 4rem;
  letter-spacing: 1rem;
  margin-top: 180px;
  line-height: 70px;
}

.btn-flat-border {
  margin-top: 5rem;
  padding: 0.4rem 1rem;
  text-decoration: none;
  background: #9e0221;
  color: white;
  transition: 0.4s;
  font-size: 2rem;
  text-align: center;
  letter-spacing: 1rem;
}

.btn-flat-border:hover {
  background: rgba(255, 255, 255, 0.308);
  color: #9e0221;
  border: solid 2px #9e0221;
  border-radius: 3px;
}

//ABOUT//

.red-container {
  height: 400px;
  width: 100%;
  background-color: #9e0221;
  margin: 0px;
}

.title {
  color: #fff;
  padding-top: 5rem;
  margin-bottom: 5rem;
  position: relative;
  letter-spacing: 1rem;
  font-size: 2.7srem;
}

.title::before {
  content: " ";
  position: absolute;
  bottom: -2rem;
  width: 5rem;
  height: 2px;
  left: 50%;
  background-color: #fff;
  transform: translateX(-50%);
}

.title-msg {
  color: #fff;
  font-size: 2rem;
  letter-spacing: 1rem;
  font-weight: 100;
  margin-top: 50px;
  line-height: 60px;
}
//fixed-btn//
.fixed-btn {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  background-color: #fff;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 1;
  text-align: center;
  line-height: 8.5rem;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.5);
}

.fixed-btn:hover {
  opacity: 0.85;
}
.red-icon {
  color: #9e0221;
  opacity: 0.7;
  font-size: 3rem;
}

//ログイン//

.white-container {
  width: 100%;
  margin: 0px;
  display: block;
  padding-bottom: 20px;
}

.black-text-title {
  color: black;
  text-align: center;
}

.black-text-title::before {
  background-color: #9e0221;
}

form {
  width: 600px;
}

.form-size {
  font-size: 1.3rem;
  margin-top: 6rem;
}

.form-control {
  margin-bottom: 2rem;
}

.form-check-label {
  margin-left: 2rem;
}

.btn-center {
  text-align: center;
  margin-top: 4rem;
}

.file-field {
  outline-style: none;
  padding-bottom: 2.5rem;
}

.form-check-label {
  margin-left: 1.2rem;
}

.detail-label {
  display: block;
  font-size: 1.8rem;
  font-weight: 300;
  color: #9e0221;
  text-align: center;
  border: double 3px #9e0221;
  width: 120px;
}

.form-label {
  color: #232323;
  width: 110px;
  padding-top: 0.5rem;
  margin-bottom: 1rem;
  background-color: #f8f4f4;
  text-align: center;
}

.form-group {
  margin-top: 3rem;
}

.detail-info {
  box-shadow: 0 3px 5px rgba(230, 204, 204, 0.363);
  border: solid 1px #9e0221;
  padding: 2rem;
}

.submit-btn {
  letter-spacing: 0.5rem;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
}

//認証リンク//

.device-link-block {
  margin-top: 2rem;
  margin-left: 2rem;
}

.device-link {
  font-size: 1.2rem;
  display: inline-block;
  margin-bottom: 0.7rem;
}

.device-link:hover {
  text-decoration-line: none;
}

//ユーザー更新//

.delete-btn {
  font-size: 0.7rem;
}

.back-link {
  margin-bottom: 3rem;
}

//エラーメッセージ//

.error-count {
  font-size: 1.5rem;
  color: #9e0221;
}
.error-msg {
  color: #9e0221;
}

.error_explanation {
  margin-bottom: 1rem;
}

//footer//

footer {
  width: 100%;
  background-color: #2e2b2b;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  bottom: 0px;
}

//ユーザー情報//

.user_info {
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #9e0221;
  background: white;
  border-top: solid 5px #9e0221;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
  height: 200px;
}

.user_image {
  border-radius: 50%;
  border: 3px #9e0221 solid;
  margin-top: 3rem;
  margin-left: 1rem;
}

.user_default_image {
  height: 90px;
  width: 90px;
  opacity: 0.7;
}

.user_name {
  font-weight: 300;
  color: #252525;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.user_profile {
  color: #252525;
}

.user_btn {
  padding: 0.3rem 1rem;
}

//ページネーション//
.pagination {
  justify-content: center;
}
.pagination > li > a {
  border: none;
  color: #696969;
}

.pagination > li {
  border-radius: 15px;
}

/* 表示しているページ番号のデザイン */
.pagination > .active > a {
  background: #f26f6f;
  border-radius: 15px;
}

/*ホバー時のデザイン*/
.pagination > li > a:hover {
  border-radius: 15px;
}

//投稿の詳細//

.ramen_info {
  width: 400px;
  justify-content: center;
  margin: 1rem auto;
}

.ramen_info_mini {
  height: 55px;
}

.ramen_store {
  font-size: 2.5rem;
  border-bottom: solid 3px #d1b5b5;
  position: relative;
  margin-bottom: 0.5rem;
}

.ramen_price {
  font-size: 0.8rem;
}

.ramen_store:after {
  position: absolute;
  content: " ";
  display: block;
  border-bottom: solid 3px #9e0221;
  bottom: -3px;
  width: 15%;
}

.ramen_name {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  display: inline-block;
}

.ramen_price {
  display: inline;
  font-size: 1.2rem;
}

.comment_field {
  height: 95px;
}
.ramen_comment {
  position: relative;
  display: inline-block;
  margin: 1rem 0;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 1.5rem;
  background: #f8f4f4;
  border-radius: 8px;
  overflow-wrap: break-word;
  margin-top: 1px;
}

.ramen_comment:before {
  content: "";
  position: absolute;
  top: -20px;
  left: 10%;
  margin-left: -15px;
  border: 10px solid transparent;
  border-bottom: 15px solid #f8f4f4;
}

.ramen_comment p {
  margin: 0;
  padding: 0;
}

.rigth-content {
  text-align: right;
}

.ramen-time {
  text-align: right;
  color: #2e2b2b;
  margin-top: -10px;
}

.ramen-details {
  position: relative;
  margin: 2em 0;
  padding: 25px 10px 7px;
  border: solid 2px #9e0221;
}
.ramen-detail {
  font-size: 1.3rem;
  display: inline-table;
  width: 110px;
  text-align: end;
}

.ramen-detail-info {
  font-size: 1.3rem;
  margin-left: 2rem;
  display: inline;
}

.detail-title {
  position: absolute;
  display: inline-block;
  top: -2px;
  left: -2px;
  padding: 0 9px;
  height: 25px;
  line-height: 25px;
  font-size: 1.2rem;
  letter-spacing: 0.5rem;
  background: #9e0221;
  color: #ffffff;
}

//最近の投稿//

.ramen-post {
  margin-left: 2px;
}

.three_col {
  width: 300px;
}

.ramen_store {
  font-size: 2rem;
}

.ramen_comment {
  font-size: 0.5rem;
}

.sm-btn {
  font-size: 0.2rem;
  padding: 1.5px 3px;
}

//タブの切り替え//

/* ↓外枠↓ */
.container {
  margin-top: 10px;
  border: 1px solid #ccc;
}

.tab_box {
  padding: 0.5em 1em;
  margin: 2em 0;
  background: white;
  border-top: solid 5px #9e0221;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}
/* ↓タブを横並び↓ */
.tab-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  text-align: center;
}
/* ↓タブのデザイン↓ */
.tab {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  border-left: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
}
.tab:first-child {
  border-left: none;
}
/* ↓タブがアクティブになっている時のデザイン↓ */
.tab-active {
  color: #fff;
  background: #f26f6f;
  transition: all 0.2s ease-in-out;
}
/* ↓タブの中身↓ */
.tabbox {
  /* ↓タブの中身を最初は非表示↓ */
  display: none;
  /* ↓タブの中身の余白↓ */
  padding: 15px;
}
/* ↓このクラスがついている時だけタブの中身を表示↓ */
.box-show {
  display: block;
}

//いいねボタン//

.like-btn {
  color: #f26f6f;
}

.unlike-btn {
  color: #2e2b2b;
}

.fa-heart {
  margin-left: 2px;
  margin-right: 4px;
}

.like-count {
  font-size: 0.8rem;
  margin-left: 2px;
  font-weight: 100;
}
