<p>パスワード再設定用メール</p>

<p>こちらのメールに見覚えがない場合はクリックしないでください</p>
<p>下記のリンクをクリックし新しいパスワードが設定されるまでは、パスワードは変更されません</p>

<p><%= link_to 'パスワードの変更はこちらをクリック', edit_password_url(@resource, reset_password_token: @token) %></p>